*{
    box-sizing: border-box;
}
body{
    background-color: #f3f3f3;
}
body img{
    display: block;
    width: 100%;
}
.bg{
    min-height: 43rem;
    width: 26.6666666rem;
    margin: auto;
}

.selectCar,.selectTime,.selectProblem,.selectUsername{
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    background-color: white;
    position: relative;
    margin-top: 1rem;
}
.selectCar{
    margin-top: 2px;
}
.selectProblem{
    height: 8rem;
}
.uploadImg{
    margin-top:2px;
    background-color: white;
    width: 100%;
    height: 10rem;
    font-size: 1.1rem;
    color: #4a4a4a
}
.upload-text{
    padding: 0.5rem 0 0 1rem;
}
.selectTime,.selectProblem{
    margin-top: 2px;
}
.selectCar-detail,.selectTime-detail,.selectProblem-detail,.selectUsername-detail{
    width: 100%;
    height: 3rem;
}
.selectProblem-detail{
    height: 8rem;
}
.selectCar-detail select,.selectTime-detail input,.selectProblem-detail textarea,.selectUsername-detail input   {
    display: block;
    text-indent:1rem;
    outline: none;
    color: #4a4a4a;
    border: 0;
    font-size:1.1rem;
    height: 3rem;
    line-height:3rem;
    width:100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-progress-appearance: none;
    appearance: none;
    background-color: transparent;
}
.selectProblem-detail textarea{
    height: 8rem;
    line-height: 1.5rem;
    text-indent: 0;
    font-size:1.1rem;
    padding: 0.5rem 1rem;
    overflow: scroll;
}
.pullDown{
    height: 3rem;
    width: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    right: 0.1rem;
    transform:translate(-50%,-50%);
    pointer-events: none;
}
.upload{
    height: 6rem;
    width: 6rem;
    margin: 0.8rem 1rem 0 1rem;
    position: relative;
}
.icon{
    height: 6rem;
    width: 6rem;
    border: 1px solid #e6e7e7;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#photo{
    z-index: 1000;
    position: absolute;
}
.saveImg{
    height:6rem;
    width:6rem;
    display: none;
    overflow: hidden;
    position: absolute;
    pointer-events:none;
    z-index: 9999;
}
.bottom-tab{
    width:48%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1.5rem auto 4rem;

}
.bottom-tab .bottom-center{
    height: 1.2rem;
    background-color: #568ffe;
    width: 1px;
}
.bottom-tab a{
    color: #568ffe;
}
/*footer {*/
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    /*height:4rem;*/
    /*position: fixed;*/
    /*bottom: 0;*/
    /*width: 100%;*/
    /*background-color: #568ffe;*/
    /*color:white;*/
    /*font-size: 1rem;*/
/*}*/
/*.bottom-btn{*/
    /*height: 3.5rem;*/
    /*width: 100%;*/
    /*display:flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    /*color: white;*/
    /*font-size: 1.3rem;*/
/*}*/
/*.bottom-btn-return,.bottom-btn-submit{*/
    /*width: 49%;*/
    /*text-align: center;*/
/*}*/
/*.bottom-btn-center{*/
    /*height: 2rem;*/
    /*width: 1px;*/
    /*background-color: white;*/
/*}*/
.goBack{
    height:3rem;
    text-align: center;
    line-height: 3rem;
    background-color: #568ffe;
    position: fixed;
    bottom: 0;
    display: block;
    width: 100%;
    color: white;
    font-size: 1.1rem;
}


.succeed{
    display: none;
    width: 85%;
    color:#2f2f2f;
    margin: 0 auto;
    background-color: #fff;
    border-radius:15px;
    text-align:center;
    height:20.5rem;
    position: relative;
}
.sure{
    width:100%;
    position: absolute;
    bottom: 0;
    background-color: #1aa0ff;
    height:3rem;
    line-height:3rem;
    border-radius:0 0 10px 10px;
}
.sure input{
    font-size: 1.1rem;
    color: white;
    text-align: center;
}
.sure input{
    outline: none;
    border: 0;
    font-size: 1rem;
    appearance: none;
    background-color: transparent;
    color: white;
}
.choose p{
    color: #2a2a2a;
    font-size: 1.2rem;
    padding: 1.3rem 0 0.8rem;
}
.item1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}
.left{
    width: 10%;
}
.left i{
    color:  #1aa0ff;
    font-size: 1.7rem;
}
.middle{
    width:19%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.middle{
    color:  #1aa0ff;
    font-size: 1.1rem;
}
.right{
    width: 62%;
}
.right input{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #1aa0ff;
    border-radius:0.6rem;
    height: 2.4rem;
    width: 100%;
    text-indent: 0.5rem;
    font-size: 1rem;
    outline:none;
}
.right_copy{
    width: 62%;
    display: flex;
}
.right_copy input{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius:0.6rem;
    height: 2.4rem;

}
.input1{
    border: 1px solid #1aa0ff;
    width: 100%;
    text-indent: 0.5rem;
    font-size: 1rem;
    outline: none;
}
.input2{
    width: 45%;
    border: none;
    background-color:#1aa0ff;
    text-align: center;
    margin-left: -45%;
    margin-top: 1px;
    color: white;
    background-color:#1aa0ff;
    outline: none;
}